.header {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: .65rem;
  border-bottom: 1px solid #DBDBDB;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.link {
  text-decoration: none;
  color: #504F58;
  font-weight: 500;
  font-size: 18px;
}

.activeLink {
  @extend .link;
  color: #181818;
  font-weight: 600;
}